/*
 * App CUSTOM theme SCSS
 * ----------------------------------------------------------------------------
 * Place here custom styles.
 */

/*
 * Light Theme
 * -------------------------------------------
 */
html {
    --core-header-buttons-background: transparent;
    --core-header-buttons-color: rgba(255, 255, 255, 0.5);
    --core-header-toolbar-background: #212E3E;
    --core-bottom-tabs-background: #212E3E;
    --core-header-toolbar-color: rgb(187, 187, 187);

    //test


    // ion-header ion-toolbar {
    //     color: rgb(187, 187, 187);
    // }
    // ion-header ion-toolbar {
    //     --core-header-toolbar-border-width: 2px; /* Use 0 to disable it */
    //     --core-bottom-tabs-background: #212E3E;
    //     --core-header-toolbar-border-color: $brand-color;
    // }

    ion-tab-bar.mainmenu-tabs {

        --color-focused: $brand-color;
        --core-bottom-tabs-background-selected: transparent;

        --core-bottom-tabs-color: rgba(255,255,255,.5);

        --core-bottom-tabs-color-selected: white;

        --core-bottom-tabs-badge-text-color: black;
        --core-bottom-tabs-badge-color: #D9B778;
    }

    ion-card {
        --border-width: 1px;
        --border-style: solid;
        --border-color: #212e3e60;
        --box-shadow: none;
        --border-radius: var(--ion-card-radius);
    }

}

/*
 * Dark Theme
 * -------------------------------------------
 */
html.dark {
}
